/* 
棋盘：格子40×40mm，（所有线）线粗1mm，
“兵站”“炮站”的“十字符”的四个“L型”的8个线段，
分别与棋盘主线间距3mm，长度7mm。棋盘总尺寸，
长：410至430mm，宽：370至390mm。 */
.xiangqi-box {
  position: relative;
  /* 394 + 170 */
  width: calc($w * 9 + 4px + 30px + 170px);
  height: calc($h * 11 + 4px + 30px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  background-color: $mainColor;
}
.main-box {
  width: calc($w * 9 + 2px);
  height: calc($h * 11 + 2px);
  border: 1px solid $lineColor;
}
