/* 
棋盘：格子40×40mm，（所有线）线粗1mm，
“兵站”“炮站”的“十字符”的四个“L型”的8个线段，
分别与棋盘主线间距3mm，长度7mm。棋盘总尺寸，
长：410至430mm，宽：370至390mm。 */
.xiangqi-box {
  position: relative;
  /* 394 + 170 */
  width: calc($w * 9 + 4px + 30px + 170px);
  height: calc($h * 11 + 4px + 30px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  background-color: $mainColor;
}

.main-box {
  width: calc($w * 9 + 2px);
  height: calc($h * 11 + 2px);
  border: 1px solid $lineColor;
}

.checkerboard {
  background-color: $mapColor;
  width: calc($w * 9);
  height: calc($h * 10);
  display: flex;
  flex-wrap: wrap;

  .lattice {
    position: relative;
    width: $w;
    height: $h;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      @include pseudo(100%, 1px);
      background-color: $lineColor;
    }
    &::before {
      @include pseudo(1px, 100%);
      background-color: $lineColor;
    }

    /* 横 左 */
    @each $key in $w_left {
      &:nth-child(#{$key}) {
        &::after {
          right: 0;
          width: calc(50% + 1px);
        }
        &::before {
          width: 2px;
          right: calc(50% - 0px);
        }
      }
    }
    /* 横 右 */
    @each $key in $w_right {
      &:nth-child(#{$key}) {
        &::after {
          left: 0px;
          width: calc(50% + 1px);
        }
        &::before {
          width: 2px;
          left: calc(50% - 0px);
        }
      }
    }
    /* 竖 上 */
    @each $key in $w_top {
      &:nth-child(#{$key}) {
        &::before {
          bottom: 0;
          height: calc(50% + 1px);
        }
        &::after {
          height: 2px;
          bottom: calc(50% - 1px);
        }
      }
    }
    /* 竖 下 */
    @each $key in $w_down {
      &:nth-child(#{$key}) {
        &::before {
          top: 0;
          height: calc(50% + 2px);
        }
        &::after {
          height: 2px;
          top: calc(50% - 0px);
        }
      }
    }

    /* 楚河汉界 上 */
    @each $key in $ch_top {
      &:nth-child(#{$key})::before {
        top: 0;
        height: 50%;
      }
    }
    /* 楚河汉界 下 */
    @each $key in $ch_down {
      &:nth-child(#{$key})::before {
        bottom: 0;
        height: 50%;
      }
    }

    & .lattice-line {
      display: none;
    }
    /* 斜线 \ */
    @each $key in $slash {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-rotate(45deg);
      }
    }
    /* 斜线 / */
    @each $key in $slash {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-rotate(-45deg);
      }
    }

    /* 右下 */
    @each $key in $position_r_b {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-mixin;
        &::after {
          @include lattice-line-pseudo(right, bottom);
        }
      }
    }

    /* 左下 */
    @each $key in $position_l_b {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-mixin;
        &::after {
          @include lattice-line-pseudo(left, bottom);
        }
      }
    }

    /* 左上 */
    @each $key in $position_l_t {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-mixin;
        &::before {
          @include lattice-line-pseudo(left, top);
        }
      }
    }

    /* 右上 */
    @each $key in $position_r_t {
      &:nth-child(#{$key}) .lattice-line {
        @include lattice-line-mixin;
        &::before {
          @include lattice-line-pseudo(right, top);
        }
      }
    }
  }
}
